
<html>

    <body>
        <h1>Cadastro de Cliente</h1>
        <form action="/cadastro/cliente/salvar" method="POST">
            <label for="">Nome:</label>
            <input type="text" name="nome"><br />
            <label for="">Senha:</label>
            <input type="password" name="senha"><br />
            <input type="submit" value="cadastro">
        </form>
        
        <% if(mensagem) { %>
            <p>
                <label style="color: red;"><%= mensagem %></label>
            </p>
        <%}%>
    </body>
    </html>